#toc{
    float: right;
    margin-left: 1em;
    border-radius: 5px;
}

.horizontal-line{
    border-bottom: 1px solid #303030;
}

.center-text{
    text-align: center;
}

.assignment-note{
    margin-bottom: 15px;
    overflow: hidden;
}

.assignment-note > div{
    border: 1px solid #303030;
    padding: 1em;
    border-radius: 5px;
}

.assignment-note > div.mw-collapsible{
    background-color: #F0F0F0;
    border-top: none;
}

.assignment-note > div > span{
    font-weight: bold; 
    display: block;
}

.teachers-note{
    border: 1px solid #303030;
    display: block;
    padding: 1em;
    border-radius: 5px;
    overflow: hidden;
}

.teachers-note > div{
    display: flex;
}

.teachers-note .icon-holder{
    min-width: 100px;
}

.teachers-note .mw-collapsible-toggle{
    margin-top: -12px;
}

.teachers-note .mw-collapsible-text:before{
    content: 'Docent informatie ';
}

.lesson-info{
    padding: 15px;
    border: 1px solid #303030;
    border-radius: 5px;
    margin-bottom: 15px;
}

.lesson-info .details{
    background: #F0F0F0;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.lesson-info .details div span{
    font-weight: bold;
}

.lesson-info .explained{
    background: #C5DBEA;
    padding: 15px;
    margin-bottom:10px;
}

.competences{
    width: 100%;
    border-collapse: collapse;
}

.competences tr.header-row{
    background: #A4C497;
    border-radius: 5px;
    text-align: left;
}

.competences td, .competences th{
    padding: 10px;
}

.competences td p, .competences th p{
    margin: 0;
}

.lessons{
    background: #C5DBEA;
    padding: 1em;
}
.lessons h2{
    margin: 0;
    padding: 0;
    border: none;
}

.subjects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

.subject{
    display: inline-block;
    padding: 1em;
    border: 1px solid #F0F0F0;
    max-width: 25em;
    margin:5px;
}

.subject p{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.subject a {
    display: block;
    text-align: center;
}

.subject a:last-of-type {
    margin-top: 10px;
}